<!doctype html>
<center><h1>Welcome to UserAdmin </h1></center>
<h2>Hai <%= @post.name %></h2>
<h2>your post id : <%= @post.id %></h2>
<h2>your post title : <%= @post.title %></h2>
<h2>your post content : <%= raw @post.content %></h2>



