  


 <h1 align="center"> <strong> TOP 250 MOVIES </strong></h1> 
<hr> 
<br>
  <div class="span8">
      <table class="table table-striped" align ="center">
        <thead>
          <tr>
		    <th>Movie Name</th>	
          </tr>
        </thead>
        <tbody>
        <% @quote.each_with_index do | quote,index | %>
            <tr>
        	 
<td><a href="http://www.imdb.com/<%= @url[index]%>" data-toggle="tooltip" title= "<%= Movie.fetch_details('http://www.imdb.com/'+@url[index])%>">  <%= quote %> </a></td>
		   	   
	   	     </td>
   			</tr>
          <% end %>
	
        </tbody>
      </table>
    </div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>