<%= favicon_link_tag '/Downloads/favicon.ico' %>
<div class="w3-content w3-display-container">
  <img class="mySlides" src="01.jpg" style="width:120%"">
  <img class="mySlides" src="02.jpg" style="width:120%">
  <img class="mySlides" src="04.jpg" style="width:120%">
  <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
  <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
