<div class ="section">
<br>
<center>
<h2><br>PORTFOLIO</h2>
  <div id="paginator">
  <%= paginate @posts , :remote => true %>
</div>
</center>

<div id="port">
<%= render 'photo' , :remote => true%>
</div>
</div>