<% posts.order(:id).each do |post| %>
 
	<tr>
		<th class="row"> 
		 <div id="detail_link">
		 <center>
		    <%= link_to post.name, edit_post_path(post) , id:"edit_link" , remote: true %>
		    <%#= post.name%>
</center>		  </div>
		  <br>
		</th>
	</tr><% end %>

