<div class="container">
<div class="row">
  <div class="col-md-4">
  <table class="table table-bordered table-inverse">
    <thead>
    <tr>
    <th>NAME</th>
    </tr>
    </thead>
    <tbody>
      <div id ="post_index">
          <%= render '/posts/post_index', posts: @posts  %>
      </div>
        </tbody> 
    </table>
  </div>
      <div class="col-md-8">
      <div id="new_link">
     <h1> hi </h1>
        
</div>
</div>
</div>
     </div>

<footer><center>
<%= link_to 'New Post', new_post_path , id: "new_link" , remote: true %>
</center></footer>



