
<div class="container">
<div class="row">
  <div class="col-md-4">

    <table class="table table-bordered table-inverse">
    <thead>
    <tr>
    <th>NAME</th>
    </tr>
    </thead>
    <tbody>
      <div id ="post_index">
          <%= render '/posts/post_index', posts: @posts %>
      </div>
      <div id="post_index_new"></div>
     </tbody> 
    </table>
  </div>
 
 <div id="new_link">
   
 </div> 
</div>
</div>

<footer><center>
<%= link_to 'New Post', new_post_path , id: "new_link" , remote: true %>
</center></footer>



