
<div class="container">
<div class="row">
<div class="col-md-4">

<table class="table table-bordered table-inverse">
<thead>
<tr>
<th>NAME</th>
</tr>
</thead>
<tbody>
    <% @posts.each do |post| %>
   <tr>
   <th class="row"> 
   <div id="detail_link">
   <%= link_to post.name, post , remote: true %>
      </div>
      <br>
</th>
      </tr>

     <% end %>
     </tbody>
</table>
</div>
</tbody>
<div class="col-md-8">
 <div id = "detail_link">

 </div> 
</div>
</div>
</div>

<footer><center>
<%= link_to 'New Post', new_post_path , id: "new_link" , remote: true %>
</center></footer>



