

<div class="container">
<header>
   <h1>POSTS</h1>
</header>
<nav>
  <ul>

    <% @posts.each do |post| %>
     
    <%= link_to post.name, post ,  id: 'detail', remote: true %>
      <br>
     <% end %>
  </ul>
</nav>



<div id = "detail">

  <%= render 'detail', post: @post %>

</div>
</div>
<footer><center>
<%= link_to 'New Post', new_post_path, id: "new_link", remote:true  %>
  
</center></footer>

